{% extends 'frontend/base.html' %}

{% block title %}
    Bienvenido a LiveSchool
{% endblock %}
{% load static %}
{% block content %}
    <div>
        <div class="banner-1 cover-image background-size  sptb-2 bg-background"
             data-image-src="../../assets/images/banners/banner6.png"
             style="background: url(&quot;../../assets/images/banners/banner6.png&quot;) center center;">
            <div class="header-text1 mb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-10 col-md-12 d-block mx-auto">
                            <div class="text-center text-white "><h1 class="mb-0">Los mejores profesor de la región</h1>
                                <p class="mt-2">Aprende eso que tanto quieres con los mejores profesores en distintas
                                    áreas.</p>
                                <form class="form-inline" method="get" action="{% url 'search' %}">
                                    {% csrf_token %}
                                    <input class="form-control mr-sm-2" type="search" name="query"
                                           placeholder="¿Que vas aprender hoy?"
                                           aria-label="Search">
                                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /header-text --> </div>
    </div>

    <section class="sptb">
        <div class="container">
            <div class="section-title center-block text-center"><h2>Top <span>mejores</span> profesores</h2>
                <p>Aprende con nuestros algunos mejores profesores de la semana</p></div>
            <div id="myCarousel1" class="owl-carousel owl-carousel-icons2 owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(-1501px, 0px, 0px); transition: all 0.25s ease 0s; width: 3904px;">
                        <div class="owl-item cloned" style="width: 275.25px; margin-right: 25px;">
                            <div class="item">
                                <div class="card mb-0 overflow-hidden">
                                    <div class="item-card7-imgs img-circle"><a href="paid-app-details.html"></a> <img
                                            src="{% static 'frontend/images/users/photo.jpg' %}" alt="Dash"
                                            class="  p-0"></div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text"><a href="paid-app-details.html"
                                                                            class="text-dark text-header"><h4
                                                    class="mb-1">AppLock</h4></a></div>
                                            <ul class="item-cards7-ic software-list mb-0 mt-3">
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-database text-muted mr-1"></i> 100 MB</a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-download text-muted mr-1"></i> 4+ thousands</a>
                                                </li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-refresh text-muted mr-1"></i> 20.0.4 v </a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-comment-o text-muted mr-1"></i> 100+ Reviwes</a>
                                                </li>
                                            </ul>
                                            <p class="mb-0">Various versions have evolved over the years, sometimes</p>
                                            <a href="paid-app-details.html" class="btn btn-primary mt-3">$ 350.00
                                                Buy</a></div>
                                    </div>
                                    <div class="card-footer">
                                        <div class=" row">
                                            <div class="col-7 mb-0 text-left">
                                                <div class="rating-stars d-inline-flex"><input type="number"
                                                                                               readonly="readonly"
                                                                                               class="rating-value star"
                                                                                               name="rating-stars-value"
                                                                                               value="3">
                                                    <div class="rating-stars-container">
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                    </div>
                                                    (4.1/5)
                                                </div>
                                            </div>
                                            <div class="col-5 text-right"><a href="paid-app-details.html" class=""
                                                                             title="Categorie"><i
                                                    class="fa fa-windows text-muted mr-1"></i>Windows</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 275.25px; margin-right: 25px;">
                            <div class="item">
                                <div class="card mb-0 overflow-hidden">
                                    <div class="item-card7-imgs"><a href="paid-app-details.html"></a> <img
                                            src="{% static 'frontend/images/users/photo.jpg' %}" alt="Dash"
                                            class="w-8 h-8 p-0"></div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text"><a href="paid-app-details.html"
                                                                            class="text-dark text-header"><h4
                                                    class="mb-1">Evernote</h4></a></div>
                                            <ul class="item-cards7-ic software-list mb-0 mt-3">
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-database text-muted mr-1"></i> 100 MB</a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-download text-muted mr-1"></i> 4+ thousands</a>
                                                </li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-refresh text-muted mr-1"></i> 20.0.4 v </a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-comment-o text-muted mr-1"></i> 100+ Reviwes</a>
                                                </li>
                                            </ul>
                                            <p class="mb-0">Various versions have evolved over the years, sometimes</p>
                                            <a href="paid-app-details.html" class="btn btn-primary mt-3">$ 350.00
                                                Buy</a></div>
                                    </div>
                                    <div class="card-footer">
                                        <div class=" row">
                                            <div class="col-7 mb-0 text-left">
                                                <div class="rating-stars d-inline-flex"><input type="number"
                                                                                               readonly="readonly"
                                                                                               class="rating-value star"
                                                                                               name="rating-stars-value"
                                                                                               value="3">
                                                    <div class="rating-stars-container">
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                    </div>
                                                    (4.1/5)
                                                </div>
                                            </div>
                                            <div class="col-5 text-right"><a href="paid-app-details.html" class=""
                                                                             title="Categorie"><i
                                                    class="fa fa-windows text-muted mr-1"></i>Windows</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 275.25px; margin-right: 25px;">
                            <div class="item">
                                <div class="card mb-0 overflow-hidden">
                                    <div class="item-card7-imgs"><a href="paid-app-details.html"></a> <img
                                            src="{% static 'frontend/images/users/photo.jpg' %}" alt="Dash"
                                            class="  p-0"></div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text"><a href="paid-app-details.html"
                                                                            class="text-dark text-header"><h4
                                                    class="mb-1">RAM &amp; Game Booster</h4></a></div>
                                            <ul class="item-cards7-ic software-list mb-0 mt-3">
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-database text-muted mr-1"></i> 100 MB</a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-download text-muted mr-1"></i> 4+ thousands</a>
                                                </li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-refresh text-muted mr-1"></i> 20.0.4 v </a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-comment-o text-muted mr-1"></i> 100+ Reviwes</a>
                                                </li>
                                            </ul>
                                            <p class="mb-0">Various versions have evolved over the years, sometimes</p>
                                            <a href="paid-app-details.html" class="btn btn-primary mt-3">$ 350.00
                                                Buy</a></div>
                                    </div>
                                    <div class="card-footer">
                                        <div class=" row">
                                            <div class="col-7 mb-0 text-left">
                                                <div class="rating-stars d-inline-flex"><input type="number"
                                                                                               readonly="readonly"
                                                                                               class="rating-value star"
                                                                                               name="rating-stars-value"
                                                                                               value="3">
                                                    <div class="rating-stars-container">
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                    </div>
                                                    (4.1/5)
                                                </div>
                                            </div>
                                            <div class="col-5 text-right"><a href="paid-app-details.html" class=""
                                                                             title="Categorie"><i
                                                    class="fa fa-windows text-muted mr-1"></i>Windows</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 275.25px; margin-right: 25px;">
                            <div class="item">
                                <div class="card mb-0 overflow-hidden">
                                    <div class="item-card7-imgs"><a href="paid-app-details.html"></a> <img
                                            src="{% static 'frontend/images/users/photo.jpg' %}" alt="Dash"
                                            class="p-0"></div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text"><a href="paid-app-details.html"
                                                                            class="text-dark text-header"><h4
                                                    class="mb-1"> ONE UI Icon Pack</h4></a></div>
                                            <ul class="item-cards7-ic software-list mb-0 mt-3">
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-database text-muted mr-1"></i> 100 MB</a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-download text-muted mr-1"></i> 4+ thousands</a>
                                                </li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-refresh text-muted mr-1"></i> 20.0.4 v </a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-comment-o text-muted mr-1"></i> 100+ Reviwes</a>
                                                </li>
                                            </ul>
                                            <p class="mb-0">Various versions have evolved over the years, sometimes</p>
                                            <a href="paid-app-details.html" class="btn btn-primary mt-3">$ 350.00
                                                Buy</a></div>
                                    </div>
                                    <div class="card-footer">
                                        <div class=" row">
                                            <div class="col-7 mb-0 text-left">
                                                <div class="rating-stars d-inline-flex"><input type="number"
                                                                                               readonly="readonly"
                                                                                               class="rating-value star"
                                                                                               name="rating-stars-value"
                                                                                               value="3">
                                                    <div class="rating-stars-container">
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                    </div>
                                                    (4.1/5)
                                                </div>
                                            </div>
                                            <div class="col-5 text-right"><a href="paid-app-details.html" class=""
                                                                             title="Categorie"><i
                                                    class="fa fa-windows text-muted mr-1"></i>Windows</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 275.25px; margin-right: 25px;">
                            <div class="item">
                                <div class="card mb-0 overflow-hidden">
                                    <div class="item-card7-imgs"><a href="paid-app-details.html"></a> <img
                                            src="{% static 'frontend/images/users/photo.jpg' %}" alt="Dash"
                                            class="  p-0"></div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text"><a href="paid-app-details.html"
                                                                            class="text-dark text-header"><h4
                                                    class="mb-1">HD Camera Pro</h4></a></div>
                                            <ul class="item-cards7-ic software-list mb-0 mt-3">
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-database text-muted mr-1"></i> 100 MB</a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-download text-muted mr-1"></i> 4+ thousands</a>
                                                </li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-refresh text-muted mr-1"></i> 20.0.4 v </a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-comment-o text-muted mr-1"></i> 100+ Reviwes</a>
                                                </li>
                                            </ul>
                                            <p class="mb-0">Various versions have evolved over the years, sometimes</p>
                                            <a href="paid-app-details.html" class="btn btn-primary mt-3">$ 350.00
                                                Buy</a></div>
                                    </div>
                                    <div class="card-footer">
                                        <div class=" row">
                                            <div class="col-7 mb-0 text-left">
                                                <div class="rating-stars d-inline-flex"><input type="number"
                                                                                               readonly="readonly"
                                                                                               class="rating-value star"
                                                                                               name="rating-stars-value"
                                                                                               value="3">
                                                    <div class="rating-stars-container">
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                    </div>
                                                    (4.1/5)
                                                </div>
                                            </div>
                                            <div class="col-5 text-right"><a href="paid-app-details.html" class=""
                                                                             title="Categorie"><i
                                                    class="fa fa-windows text-muted mr-1"></i>Windows</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 275.25px; margin-right: 25px;">
                            <div class="item">
                                <div class="card mb-0 overflow-hidden">
                                    <div class="item-card7-imgs"><a href="paid-app-details.html"></a> <img
                                            src="{% static 'frontend/images/users/photo.jpg' %}" alt="Dash"
                                            class="  p-0"></div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text"><a href="paid-app-details.html"
                                                                            class="text-dark text-header"><h4
                                                    class="mb-1">AppLock</h4></a></div>
                                            <ul class="item-cards7-ic software-list mb-0 mt-3">
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-database text-muted mr-1"></i> 100 MB</a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-download text-muted mr-1"></i> 4+ thousands</a>
                                                </li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-refresh text-muted mr-1"></i> 20.0.4 v </a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-comment-o text-muted mr-1"></i> 100+ Reviwes</a>
                                                </li>
                                            </ul>
                                            <p class="mb-0">Various versions have evolved over the years, sometimes</p>
                                            <a href="paid-app-details.html" class="btn btn-primary mt-3">$ 350.00
                                                Buy</a></div>
                                    </div>
                                    <div class="card-footer">
                                        <div class=" row">
                                            <div class="col-7 mb-0 text-left">
                                                <div class="rating-stars d-inline-flex"><input type="number"
                                                                                               readonly="readonly"
                                                                                               class="rating-value star"
                                                                                               name="rating-stars-value"
                                                                                               value="3">
                                                    <div class="rating-stars-container">
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                    </div>
                                                    (4.1/5)
                                                </div>
                                            </div>
                                            <div class="col-5 text-right"><a href="paid-app-details.html" class=""
                                                                             title="Categorie"><i
                                                    class="fa fa-windows text-muted mr-1"></i>Windows</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 275.25px; margin-right: 25px;">
                            <div class="item">
                                <div class="card mb-0 overflow-hidden">
                                    <div class="item-card7-imgs"><a href="paid-app-details.html"></a> <img
                                            src="{% static 'frontend/images/users/photo.jpg' %}" alt="Dash"
                                            class="w-8 h-8 p-0"></div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text"><a href="paid-app-details.html"
                                                                            class="text-dark text-header"><h4
                                                    class="mb-1">Evernote</h4></a></div>
                                            <ul class="item-cards7-ic software-list mb-0 mt-3">
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-database text-muted mr-1"></i> 100 MB</a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-download text-muted mr-1"></i> 4+ thousands</a>
                                                </li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-refresh text-muted mr-1"></i> 20.0.4 v </a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-comment-o text-muted mr-1"></i> 100+ Reviwes</a>
                                                </li>
                                            </ul>
                                            <p class="mb-0">Various versions have evolved over the years, sometimes</p>
                                            <a href="paid-app-details.html" class="btn btn-primary mt-3">$ 350.00
                                                Buy</a></div>
                                    </div>
                                    <div class="card-footer">
                                        <div class=" row">
                                            <div class="col-7 mb-0 text-left">
                                                <div class="rating-stars d-inline-flex"><input type="number"
                                                                                               readonly="readonly"
                                                                                               class="rating-value star"
                                                                                               name="rating-stars-value"
                                                                                               value="3">
                                                    <div class="rating-stars-container">
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                    </div>
                                                    (4.1/5)
                                                </div>
                                            </div>
                                            <div class="col-5 text-right"><a href="paid-app-details.html" class=""
                                                                             title="Categorie"><i
                                                    class="fa fa-windows text-muted mr-1"></i>Windows</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 275.25px; margin-right: 25px;">
                            <div class="item">
                                <div class="card mb-0 overflow-hidden">
                                    <div class="item-card7-imgs"><a href="paid-app-details.html"></a> <img
                                            src="{% static 'frontend/images/users/photo.jpg' %}" alt="Dash"
                                            class="  p-0"></div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text"><a href="paid-app-details.html"
                                                                            class="text-dark text-header"><h4
                                                    class="mb-1">RAM &amp; Game Booster</h4></a></div>
                                            <ul class="item-cards7-ic software-list mb-0 mt-3">
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-database text-muted mr-1"></i> 100 MB</a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-download text-muted mr-1"></i> 4+ thousands</a>
                                                </li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-refresh text-muted mr-1"></i> 20.0.4 v </a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-comment-o text-muted mr-1"></i> 100+ Reviwes</a>
                                                </li>
                                            </ul>
                                            <p class="mb-0">Various versions have evolved over the years, sometimes</p>
                                            <a href="paid-app-details.html" class="btn btn-primary mt-3">$ 350.00
                                                Buy</a></div>
                                    </div>
                                    <div class="card-footer">
                                        <div class=" row">
                                            <div class="col-7 mb-0 text-left">
                                                <div class="rating-stars d-inline-flex"><input type="number"
                                                                                               readonly="readonly"
                                                                                               class="rating-value star"
                                                                                               name="rating-stars-value"
                                                                                               value="3">
                                                    <div class="rating-stars-container">
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                    </div>
                                                    (4.1/5)
                                                </div>
                                            </div>
                                            <div class="col-5 text-right"><a href="paid-app-details.html" class=""
                                                                             title="Categorie"><i
                                                    class="fa fa-windows text-muted mr-1"></i>Windows</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 275.25px; margin-right: 25px;">
                            <div class="item">
                                <div class="card mb-0 overflow-hidden">
                                    <div class="item-card7-imgs"><a href="paid-app-details.html"></a> <img
                                            src="{% static 'frontend/images/users/photo.jpg' %}" alt="Dash"
                                            class="p-0"></div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text"><a href="paid-app-details.html"
                                                                            class="text-dark text-header"><h4
                                                    class="mb-1"> ONE UI Icon Pack</h4></a></div>
                                            <ul class="item-cards7-ic software-list mb-0 mt-3">
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-database text-muted mr-1"></i> 100 MB</a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-download text-muted mr-1"></i> 4+ thousands</a>
                                                </li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-refresh text-muted mr-1"></i> 20.0.4 v </a></li>
                                                <li><a href="#" class="icons text-muted "><i
                                                        class="fa fa-comment-o text-muted mr-1"></i> 100+ Reviwes</a>
                                                </li>
                                            </ul>
                                            <p class="mb-0">Various versions have evolved over the years, sometimes</p>
                                            <a href="paid-app-details.html" class="btn btn-primary mt-3">$ 350.00
                                                Buy</a></div>
                                    </div>
                                    <div class="card-footer">
                                        <div class=" row">
                                            <div class="col-7 mb-0 text-left">
                                                <div class="rating-stars d-inline-flex"><input type="number"
                                                                                               readonly="readonly"
                                                                                               class="rating-value star"
                                                                                               name="rating-stars-value"
                                                                                               value="3">
                                                    <div class="rating-stars-container">
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm is--active"><i
                                                                class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                        <div class="rating-star sm"><i class="fa fa-star"></i></div>
                                                    </div>
                                                    (4.1/5)
                                                </div>
                                            </div>
                                            <div class="col-5 text-right"><a href="paid-app-details.html" class=""
                                                                             title="Categorie"><i
                                                    class="fa fa-windows text-muted mr-1"></i>Windows</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span>
                    </button>
                    <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </section>

{% endblock %}