{% extends 'frontend/base.html' %}

{% block title %}
    Bienvenido a LiveSchool
{% endblock %}
{% load static %}
{% block content %}
    <div>
        <div class="banner-1 cover-image background-size  sptb-2 bg-background"
             data-image-src="../../assets/images/banners/banner6.png"
             style="background: url(&quot;../../assets/images/banners/banner6.png&quot;) center center;">
            <div class="header-text1 mb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-10 col-md-12 d-block mx-auto">
                            <div class="text-center text-white "><h1 class="mb-0">Los mejores profesor de la región</h1>
                                <p class="mt-2">Aprende eso que tanto quieres con los mejores profesores en distintas
                                    áreas.</p>
                                <form class="form-inline" method="get" action="{% url 'search' %}">
                                    {% csrf_token %}
                                    <input class="form-control mr-sm-2" type="search" name="query"
                                           placeholder="¿Que vas aprender hoy?"
                                           aria-label="Search">
                                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /header-text --> </div>
    </div>



{% endblock %}