{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}
    Crear cuenta
{% endblock %}

{% block content %}
    <!--Sliders Section-->
    <section>
        <div class="bannerimg cover-image background-size bg-background3"
             data-image-src="../../assets/images/banners/banner6.png">
            <div class="header-text mb-0">
                <div class="container">
                    <div class="text-center text-white">
                        <h1 class="">Registro</h1>
                        <ol class="breadcrumb text-center">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active text-white" aria-current="page">registro</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Sliders Section-->

    <!--Login-Section-->
    <section class="sptb">
        <div class="container customerpage">
            <div class="row">
                <div class="single-page">
                    <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
                        <div class="wrapper wrapper2">
                            <form id="login" class="card-body" tabindex="500">
                                <h3>Registro</h3>
                                <div class="mail">
                                    <input type="email" name="mail">
                                    <label>Nombres</label>
                                </div>
                                <div class="mail">
                                    <input type="email" name="mail">
                                    <label>Apellidos</label>
                                </div>
                                <div class="mail">
                                    <input type="email" name="mail">
                                    <label>Correo electrónico</label>
                                </div>
                                <div class="passwd">
                                    <input type="password" name="password">
                                    <label>Contraseña</label>
                                </div>
                                <div class="submit">
                                    <a class="btn btn-primary btn-block" href="index.html">Crear cuenta</a>
                                </div>
                                <p class="text-dark mb-0">¿Ya tienes una cuenta?<a href="{% url 'login' %}"
                                                                                   class="text-primary ml-1">Inicia
                                    sesión</a></p>
                            </form>
                            <hr class="divider">
                            <div class="card-body">
                                <div class="text-center">
                                    <div class="btn-group">
                                        <a href="https://www.facebook.com/" class="btn btn-icon mr-2 brround">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="https://www.google.com/gmail/" class="btn  mr-2 btn-icon brround">
                                            <span class="fa fa-google"></span>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="https://twitter.com/" class="btn  btn-icon brround">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Login-Section-->
{% endblock %}